.card_image {
  width: 100%;
  transition: 0.3s;
  border-radius: 8px;
}

.col-1-style {
  height: 500px;
  overflow: hidden;
}

.col-2-style {
  height: 300px;
}

.col-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.masonry-container {
  margin-left: -10px;
  margin-right: -10px;
}

.masonry-item {
  margin-bottom: 15px;
  padding: 15px;
}
